

.green {
  color: #4adf86;
}

.toWhite:hover {
  color: whitesmoke;
  transition: 0.5s;
  padding-right: 5px;
  padding-bottom: 5px;
  border-right: 5px solid transparent;
}

.greenHover:hover {
  color: #4adf86;
  transition: 0.5s;
  /* background: whitesmoke; */
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 5px 7px;
}

.bold {
  font-weight: bold;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #1c1c1c;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  color: whitesmoke;
}
#banner {
  background: #1f2937;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0px;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}

#hero {
  margin: 20px auto;
  font-size: 50px;
  font-weight: normal;
}

#hero:hover {
  color: #4adf86;
  border-left: 5px solid transparent;
  transition: 0.5s;
}
.icon {
  color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 5px;
}

.icon:hover {
  color: black;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid black;
  transition: 1s;
  font-size: 20px;
  padding: 10px 5px;
}
.subBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.textSpace {
  margin: 10px auto;
}
.textSpace:hover {
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  transition: 2s;
}

#checkText {
  width: 200px;
  height: 40px;
}

.button {
  background: whitesmoke;
  color: #4adf86;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  border: 0px solid black;
  border-radius: 15px;
  padding: 5px 8px;
}

.button:hover {
  margin-top: 6px;
  margin-bottom: 8px;
  background: #4adf86;
  color: whitesmoke;
  transition: 0.75s;
  border-radius: 20px;
  padding: 8px 15px;
}
