.green {
  color: #4adf86;
}

a {
  color: inherit;
}

.underline {
  border-bottom: 1px solid whitesmoke;
}

.toWhite:hover {
  color: whitesmoke;
  transition: 0.5s;
  padding-right: 5px;
  padding-bottom: 5px;
  border-right: 5px solid transparent;
  transition: 0.5s;
}

.textBigSpace {
  margin-bottom: 40px;
}

.toGreen:hover {
  transition: 0.5s;
  padding-left: 5px;
  padding-bottom: 5px;
  border-left: 5px solid transparent;
}

.greenHover:hover {
  color: #4adf86;
  transition: 0.5s;
  /* background: whitesmoke; */
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 5px 7px;
}

.bold {
  font-weight: bold;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #1c1c1c;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  color: whitesmoke;
}
#banner {
  background: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0px;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}

#hero {
  margin: 20px auto;
  font-size: 50px;
  font-weight: normal;
}

#hero:hover {
  color: #4adf86;
  transition: 0.5s;
}
.icon {
  color: black;
  font-size: 20px;
  padding: 6px 3px;
}

#followMakers:hover {
  border-left: 1px solid transparent;
  transition: 1s;
}
#github:hover {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: 1s;
}
#address:hover {
  border-right: 1px solid transparent;
  transition: 1s;
}
.icon:hover {
  color: black;
  background-color: whitesmoke;
  transition: 1s;
  font-size: 20px;
  padding: 6px 10px;
}
.subBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.subBodyTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  background: whitesmoke;
  color: black;
  width: 100%;
}

.textSpace {
  margin-bottom: 15px;
}
.textSpace:hover {
  transition: 2s;
  /* text-shadow: 0px 0px 5px #4adf86; */
}

#checkText {
  width: 200px;
  height: 40px;
}

#connectBody {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}
.button {
  background: whitesmoke;
  color: #4adf86;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  border: 0px solid black;
  border-radius: 15px;
  padding: 5px 8px;
}

.button:hover {
  margin-top: 6px;
  margin-bottom: 8px;
  background: #4adf86;
  color: whitesmoke;
  transition: 0.75s;
  border-radius: 20px;
  padding: 8px 15px;
}

#checkText {
  border-radius: 20px;
  border: 0px solid whitesmoke;
}

#checkText:hover {
  border-radius: 20px;
  padding: 20px;
  border: 0px solid whitesmoke;
  transition: 1s;
}
